.index__main {
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3)
    no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    width: 30%;
    height: auto;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    .title {
      text-align: center;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      color: black;
    }
    .form__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      > labeL {
        font-size: 18px;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
      }
      > input {
        height: 35px;
        border: none;
        border-radius: 10px;
        padding-left: 10px;
      }
      > input::placeholder {
        color: black;
        font-weight: bold;
      }
      > input:focus {
        outline: none;
      }
    }
    .checkbox__div {
      margin-top: 30px;
      > label {
        font-size: 16px;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 10px;
      }
      > input {
        transform: scale(1.5);
      }
    }
    .button__div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      > button:nth-child(1) {
        width: 140px;
        height: 40px;
        border: none;
        border-radius: 20px;
        background-color: green;
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 17px;
      }
      > button:nth-child(2) {
        width: 140px;
        height: 40px;
        border: none;
        border-radius: 20px;
        background-color: green;
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 17px;
        margin-left: 20px;
      }
    }
  }
}
@media (max-width: 767px) {
  .index__main {
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3)
      no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__inner {
      width: 90%;
      height: auto;

      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      padding: 30px;
      .title {
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        color: black;
      }
      .form__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        > labeL {
          font-size: 18px;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          margin-bottom: 10px;
        }
        > input {
          height: 35px;
          border: none;
          border-radius: 10px;
          padding-left: 10px;
        }
        > input::placeholder {
          color: black;
          font-weight: bold;
        }
        > input:focus {
          outline: none;
        }
      }
      .checkbox__div {
        margin-top: 30px;
        > label {
          font-size: 16px;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          margin-bottom: 10px;
          margin-left: 10px;
        }
        > input {
          transform: scale(1.5);
        }
      }
      .button__div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        > button:nth-child(1) {
          width: 140px;
          height: 40px;
          border: none;
          border-radius: 20px;
          background-color: green;
          color: white;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 17px;
        }
        > button:nth-child(2) {
          width: 140px;
          height: 40px;
          border: none;
          border-radius: 20px;
          background-color: green;
          color: white;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 17px;
          margin-left: 20px;
        }
      }
    }
  }
}
